
@import url('https://fonts.googleapis.com/css?family=Zen Kaku Gothic Antique&display=swap');


body{
    font-family: Zen Kaku Gothic Antique,serif;
    background: linear-gradient(90deg, #1d2fb4 7%, #000000 99%);
}






.nav-link{
    color: rgb(27, 82, 145); 
}
.navbar-nav .nav-link.active{
    color: rgb(14, 139, 139); 

}
.navbar-brand img{
    width: 60px;
}
.navbar-toggler{
    background-color: white;
}
.sidebar{
    color: rgb(27, 82, 145); 
    background: linear-gradient(270deg, #060e4b 7%, #050505 99%);
    
}
.slide-text,
.footer-text{
    color:white;
    margin:auto auto;
   
}
.card a{
    background: linear-gradient(270deg, #060e4b 7%, #050505 99%);
    color:white;
}
footer{
    background: linear-gradient(270deg, #060e4b 7%, #050505 99%); 
}

.media-links{
    display: flex;
    justify-content:center;
    align-items: center;
}

.call-anim{
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
h2{
	color:white;
}
.card-text{
	color:black;
}
.main-content{
	color:white;
}





